$font-stack: Helvetica, sans-serif;
$primary-color: rgb(45, 128, 253);
$secondary-color: Red;

body {
    border: 0;
    background: $primary-color;
    font: 100% $font-stack;
}

h1 {
    color: purple;
}

p{
    color: $secondary-color;
}

.banner {
    border:0;
    Width:100%;
    background: yellow;
}

.container {
    width:100%;
}

.section {
    float:left;
    border: 0;
    width:50%;
    background: white;
}
