$font-stack: Helvetica, sans-serif;
$primary-color: skyblue;
$secondary-color: Red;

body {
    border: 0;
    background: $primary-color;
    font: 100% $font-stack;
}

h1 {
    color: purple;
}

p{
    color: $secondary-color;
}


.banner {
    border:0;
    Width:100%
}

.container {
    width:100%;
}

.section {
    border: 0;
    width:50%;
    background: white;
}
