$font-stack: Helvetica, sans-serif;
$primary-color: skyblue;
$secondary-color: Red;

body {
    border: 0;
    background: $primary-color;
    font: 100% $font-stack;
}

h1 {
    color: pink;
}

h2 {

}

h3{
    color: $secondary-color;
}


